# byte-code
**/__pycache__/
__pycache__/
*.py[cod]
# build artefacts
*.egg-info/
dist/
# runtime data
data/**
!data/references/      # keep reference inputs if useful
# Prettier cache
node_modules/.cache/prettier/node_modules/
node_modules/.cache/prettier/
